<style>
    .site-footer {
        background-color:dimgray;
        padding: 20px 0;
        text-align: center;
    }

    .container {
        max-width: 1200px;
        margin: 0 auto;
    }

    .footer-links {
        margin-bottom: 10px;
    }

    .footer-links a {
        margin: 0 15px;
        text-decoration: none;
        color:black;
        font-size: large;
    }

    .footer-links a:hover {
        color: #007bff;
    }
</style>
<footer class="site-footer">
    <div class="container">
        <div class="footer-links">
            <a href="@Url.Action("About","Home")"><b>About Us</b></a>
            <a href="@Url.Action("Contact","Home")"><b>Contact Us</b></a>
        </div>
        <p>&copy; All Rights are reserved by हाम्रो स्कुल.</p>
    </div>
</footer>

