<style>
</style>
<div class="sidebar" style="background:gray; height: 65vh; width: 20%;">
    <header style="font-size: 24px; text-align: center; padding: 10px;">Hamro School</header>
    <ul style="list-style: none; padding: 0;">
        <li style="margin-bottom: 10px; padding: 10px; border-radius: 5px; text-align: center;">
            <a style="text-decoration: none; color: black; display: block; background-color: #eee; padding: 5px 0;"
               href="#">Introduction</a>
        </li>
        <li style="margin-bottom: 10px; padding: 10px; border-radius: 5px; text-align: center;">
        
                <a style="text-decoration: none; color: black; display: block; background-color: #eee; padding: 5px 0;" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                    Set Up
                </a>
              
            <div class="collapse" id="collapseExample">
                <div class="card card-body">
                    <ul style="list-style: none; padding:10;">
                        <li style="margin-bottom: 20px; padding: 5px; border-radius: 5px; text-align: center;">
                            <a style="text-decoration: none; color: black; display: block; background-color: #eee; padding: 5px 0;"
                               href="#">Student</a>
                        </li>
                        <li style="margin-bottom: 5px; padding: 5px; border-radius: 5px; text-align: center;">
                            <a style="text-decoration: none; color: black; display: block; background-color: #eee; padding: 5px 0;"
                               href="#">Course</a>
                        </li>
                        <li style="margin-bottom: 5px; padding: 5px; border-radius: 5px; text-align: center;">
                            <a style="text-decoration: none; color: black; display: block; background-color: #eee; padding: 5px 0;"
                               href="#">Staff</a>
                        </li>
                        <li style="margin-bottom: 5x; padding: 5px; border-radius: 5px; text-align: center;">
                            <a style="text-decoration: none; color: black; display: block; background-color: #eee; padding: 5px 0;"
                               href="#">Department</a>
                        </li>
                    </ul>
                </div>
            </div>
        </li>
        <li style="margin-bottom: 10px; padding: 10px; border-radius: 5px; text-align: center;">
            <a style="text-decoration: none; color: black; display: block; background-color: #eee; padding: 5px 0;"
               href="#">Department</a>
        </li>
    </ul>
</div>

