@{
    
}
<!DOCTYPE html>
<head>
    <style>
        h2 {
            color: black;
        }

        body {
            text-align: center;
            margin: 100px;
            padding: 100px;
        }

        .container {
            border: double;
            background-color: antiquewhite;
        }
    </style>
</head>

<div class="container">
    <h2><u>Contact Us</u></h2>
    <p1><b>हाम्रो स्कुल पाठशाला , काठमाडौँ -३२, नयाँ बानेश्वोर</b></p1>
    <div class="contact">
        <address>
            <p><strong>Email:</strong> hamroschool.com</p>
            <p><strong>Phone:</strong> 01-512306</p>
        </address>
    </div>
</div>


