<!DOCTYPE html>
<head>
    <style>
        h2 {
            color: black;
        }

       /* body {
            text-align: center;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            background-color: #f4f4f4;
        }*/

        .contact_ {
            border: double;
            background-color: antiquewhite;
            padding: 20px;
            width: 60%; 
            margin: 0 auto; 
            text-align: center;
            margin-top: 10%; 
        }

        .contact {
            margin-top: 20px;
        }
    </style>
</head>

    <div class="contact_">
        <h2><u>Contact Us</u></h2>
        <p><b>हाम्रो स्कुल पाठशाला, काठमाडौँ -३२, नयाँ बानेश्वोर</b></p>
        <div class="contact">
            <address>
                <p><strong>Email:</strong> hamroschool.com</p>
                <p><strong>Phone:</strong> 01-512306</p>
            </address>
        </div>
    </div>

