
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Welcome to Our School</title>
    <style>
        body, h1, h2, p {
            margin: 0;
            padding: 0;
        }

       /* body {
            border: double;
            background-color: antiquewhite;
            padding: 20px;
            width: 60%;
            margin: 0 auto;
            text-align: center;
            margin-top: 10%;
            margin-bottom:1%
        }*/

        header {
            background-color: #007BFF;
            color: #fff;
            text-align: center;
            padding: 20px;
            width: 600px;
            margin: auto;
        }

        header h1 {
                font-size: 36px;
            }

        main {
            max-width: 450px;
            margin: 20px auto;
            padding: 20px;
            background-color: #fff;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
        }

        h2 {
            font-size: 24px;
            margin-top: 20px;
        }

        p {
            font-size: 16px;
            line-height: 1.5;
        }

    </style>
</head>
<body>
    <div>
        <header>
            <h1>Welcome to Our School</h1>
        </header>
        <main>
            <section class="about-school">
                <h2>About Our School</h2>
                <p>Our Main moto is to provide the best education </p><br />

                <p>Our school is committed to providing quality education and fostering a nurturing environment for our students.</p>
            </section>
            <section class="mission-vision">
                <h2>Our Mission & Vision</h2><br />
                <p><strong>Mission:</strong> To inspire and educate students to reach their full potential and become responsible citizens.</p><br />
                <p><strong>Vision:</strong> To be a leader in providing innovative and holistic education.</p>
            </section>
        </main>
    </div>
   
</body>
</html>
